body{
    margin:0;
    padding:0;
}
.box{
    height:100px;
    width:100px;
    padding:10px 0px 30px 50px; 
    border:5px solid blue;
    border-left:10px solid blue;
    border-top:10px dashed green;
    border-right:10px dotted blue;
    border-bottom:10px solid rgb(255, 157, 0);
    border-radius: 50%;
    margin:10px;
    box-sizing:border-box;
}
.red{
    background-color: rgb(184,11,11);
    color:white;
}
.paragraph:hover{
    font-size: xx-large;
    color:white;
    background-color:blueviolet;
}
.paragraph:active{
    color:red;
}
ul li:first-child{
    color:white;
    background-color:chartreuse;
}
ul li:last-child{
    color:white;
    background-color:rgb(20,95,157);
}
ul li:nth-child(3){
    color:white;
    background-color:rgb(14,140,102);
}

ul li:nth-child(3n+2) {
    color:white;
    background-color:rgb(157,20,95);
}

.paragraph::selection {
    background-color: yellow;
    color: rgb(238, 5, 5);
}

.changeBorder::placeholder {
    color: gray;
    border: 2px solid red;
    font-size: 15px;
}

.paragraph::first-letter {
    font-size: xx-large;
    color:red;
}