body{
    margin:0;
    padding:0;
}
.box{
    height:100px;
    width:100px;
    padding:10px 0px 30px 50px; 
    border-left:10px solid rgb(81, 81, 238);
    border-top:10px dashed rgb(123, 35, 186);
    border-right:10px dotted rgb(230, 70, 193);
    border-bottom:10px solid rgb(221, 22, 62);
    margin:10px;
    border-radius: 50%;
}

.box{
    height:100px;
    width:100px;
    padding:10px 0px 30px 50px; 
    border:5px solid blue;/*
    border-left:10px solid blue;
    border-top:10px dashed green;
    border-right:10px dotted blue;
    border-bottom:10px solid rgb(255, 157, 0);*/
    border-radius: 50%;
    margin:10px;
    box-sizing:border-box;
}

.red{
    background-color: rgb(11, 221, 155);
    color:rgb(240, 244, 239);
}