.container{
    width:1000px;
    height: 400px;
    position: relative;
    background-color: rgb(239, 222, 179);
}
.ball{
    height: 80px;
    width: 80px;
    border: 1px solid rgb(73, 71, 71);
    border-radius: 50%;
    background-color: rgb(172, 226, 228);
    position: absolute;
    left:0;
    bottom: 0;
    animation: goX 5s linear infinite, goY 5s ease-out alternate;


}
@keyframes goX{
    from{
        left:0
    }
    to{
        left: 100%;
    }
}
@keyframes goY{
    from{
        bottom:0
    }
    to{
        bottom: 100%;
    }
}