.container{
    height:80vh;
    border:3px solid red;
    display:flex;
    justify-content:;
    /*align-items: start;*/
    align-content: center;
    /*gap:20px;*/
    row-gap:5px;
    column-gap:30px;
    /*flex-direction:row-reverse;*/
    /*flex-direction:column-reverse;*/
    /*flex-direction:row;*/
    /*flex-direction:column;*/
    /*flex-wrap:wrap-reverse;*/
    /*flex-wrap:wrap;*/
    /*flex-flow: column wrap;*/
    flex-flow: row wrap; 
}
.box{
    /*height:80px;
    width:80px;*/
    background-color:blueviolet;
    color:white;
    border:2px solid black;
    font-size: 35px;
}
#b5{
    order: 2;
}
#b10{
    order:3;
}
#b1{
    order:1;
}